*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
}

.logo {
  height: 70px;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.9rem;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
  max-width: 1500px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: rgba(37, 69, 227, 0.598);
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.hamburger {
  width: 37px;
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(34, 90, 220, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.hamburger .bar {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}


.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #180d0d;
}
.bg {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 200%;
    height: 200%;
    object-fit: cover;
    z-index: 0;
    transform: translate(-50%, -50%)
               translate3d(var(--x, 0px), var(--y, 0px), 0)
               scale(var(--scale, 1));
    transition: transform 0.1s linear;
}

.h {
    position: absolute;
    top: calc(50% + 1px);
    left: 69%;
    transform: translate(-50%, -50%)
               translate3d(var(--x, 0px), var(--y, 0px), 0)
               scale(var(--scale, 1));
    transition: transform 0.1s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.v {
    position: absolute;
    top: calc(31% + 1px);
    left: 15%;
    transform: translate(-50%, -50%)
               translate3d(var(--x, 0px), var(--y, 0px), 0)
               scale(var(--scale, 1));
    transition: transform 0.1s linear;
    width: 30%;
    height: 30%;
    object-fit: cover;
    z-index: 2;
}

.t {
    position: absolute;
    top: calc(47.99% + 1px);
    left: 50%;
    transform: translate(-50%, -50%)
               translate3d(var(--x, 0px), var(--y, 0px), 0)
               scale(var(--scale, 1));
    transition: transform 0.1s linear;
    width: 130%;
    height: 130%;
    object-fit: cover;
    z-index: 3;
}
.n {
    position: absolute;
    top: calc(69% + 1px);
    left: 25%;
    transform: translate(-50%, -50%)
               translate3d(var(--x, 0px), var(--y, 0px), 0)
               scale(var(--scale, 1));
    transition: transform 0.1s linear;
    width: auto;
    height: 75%;
    object-fit: cover;
    z-index: 4;
}

.parallax {
    pointer-events: none;
    will-change: transform;
}